@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::before, *, *::after{
  box-sizing: border-box;
}

:root{
  --font: "Inter", sans-serif;
  --secondary-110: #1C2346;
  --secondary-100: #37437D;
  --secondary-90: #5562A2;
  --secondary-70: #707DBF;
  --secondary-60: #ABB4DD;
  --secondary-50: #D3DAF9;
  --primary-100: #F26CF9;
  --primary-90: #F589FA;
  --primary-50: #FCD3FE;
  --primary-40: #FCE2FE;
  --primary-30: #FDEDFE;
  --yellow-100: #FFCA39;
  --yellow-90: #FFEFC3;

  --grey-10: #FFFFFF;
  --grey-20: #F7F7F7;
  --grey-30: #EDEDED;
  --grey-40: #E0E0E1;
  --grey-50: #C3C3C4;
  --grey-60: #9F9FA1;
  --grey-70: #777779;
  --grey-80: #636365;
  --grey-90: #434345;
  --grey-100: #1E1E20;

  --cool-grey-10: #EEEFFF;
  --cool-grey-20: #E4E5F5;
  --cool-grey-30: #DDDEED;
  --cool-grey-40: #D1D2E0;
  --cool-grey-50: #B0B1BD;
  --cool-grey-60: #8F8F99;
  --cool-grey-70: #72737A;
  --cool-grey-80: #56565C;
  --cool-grey-90: #39393D;
  --cool-grey-100: #131314;

    /* H1 */
  --h1-font-size: 32px;
  --h1-font-weight-semibold: 600;
  --h1-font-weight-bold: 700;

  /* H2 */
  --h2-font-size: 28px;
  --h2-font-weight-semibold: 600;
  --h2-font-weight-bold: 700;

  /* H3 */
  --h3-font-size: 26px;
  --h3-font-weight-semibold: 600;
  --h3-font-weight-bold: 700;

  /* H4 */
  --h4-font-size: 24px;
  --h4-font-weight-semibold: 600;
  --h4-font-weight-bold: 700;

  /* H5 */
  --h5-font-size: 22px;
  --h5-font-weight-semibold: 600;
  --h5-font-weight-bold: 700;

  /* H6 */
  --h6-font-size: 20px;
  --h6-font-weight-semibold: 600;
  --h6-font-weight-bold: 700;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

html, body {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-family: var(--font);
  background-color: var(--grey-10);
}

.center-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.portal-wrapper{
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "nav header" "nav main" "nav footer";
  height: 100dvh;
  width: 1440px;
  margin: 0 auto;
}

nav{
  grid-area: nav;
  background-color: var(--cool-grey-10);
  border-radius: 16px;
  margin: 1rem;
  font-size: 14px;
}

  .nav-link{
    text-decoration: none;
    color: var(--secondary-100);
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: 2rem;

    p{
      margin: 0;
    }
  }

  .nav-logo{
    display: flex;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 4rem;
  }

header {
  grid-area: header;
  background-color: var(--grey-20);
  margin: 1rem 1rem 1rem 0rem;
  border-radius: 16px;
  height: 84px;

  h4{
    font-size: var(--h4-font-size);
    font-weight: var(--h4-font-weight-semibold);
    margin: 1rem 0rem 0rem 1rem;
    color: var(--secondary-100);
  }
}

main {
  grid-area: main;
  background-color: var(--grey-20);
  border-radius: 16px;
  margin: 0rem 1rem 1rem 0rem;
}

footer{
  grid-area: footer;
}

#events{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  text-decoration: none;
  margin-left: 1rem;
  margin-top: 1.5rem;
}

.event-card-container{
  text-decoration: none;
}

.event-card{
  display: flex;
  flex-direction: column;
  height: 21.6rem;
  width: 17.15rem;
  border-radius: 16px;
  background-color: var(--grey-10);
}

.event-card-image{
  background-color: var(--grey-40);
  border-radius: 12px;
  width: 15.6rem;
  height: 13rem;
  margin: 1rem auto;
}

.event-card-details{
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  gap: 0.5rem;
}

.event-card-date{
  color: var(--grey-70);
  font-size: 11px;
}

.event-card-title{
  color: var(--grey-100);
  font-weight: 600;
}

.event-card-location{
  color: var(--grey-80);
  display: flex;
  gap: 0.15rem;
  align-items: center;
}

.event-details-page{
  display: flex;
  gap: 2rem;
}

.details-card-container{
  width: 41rem;
  border-radius: 16px;
  background-color: var(--grey-10);
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem 0rem 1rem;
}

.event-details-image{
  height: 22rem;
  background-color: var(--grey-40);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.event-details-info{
  h4{
    font-size: var(--h4-font-size);
    font-weight: var(--h4-font-weight-semibold);
    margin: 1rem 0rem 0rem 1rem;
    color: var(--grey-100);
  }

  .event-details-date{
    display: flex;
    align-items: center;
    margin: 1rem 0rem 0rem 1rem;
    color: var(--grey-70);
    font-size: 12px;
    gap: 0.15rem;
  }

  .event-details-location{
    display: flex;
    align-items: center;
    color: var(--grey-80);
    margin: 0.25rem 0rem 0rem 1rem;
    font-size: 12px;
    gap: 0.15rem;
  }
}

.details-card-footer{
  padding-bottom: 2rem;
  span{
    font-size: 11px;
    font-weight: var(--h1-font-weight-semibold);
    color: var(--secondary-100);
    margin-left: 1rem;
  }
  p{
    font-size: 12px;
    color: var(--grey-90);
    margin: 0.5rem 1rem 0rem 1rem;
  }
}


.or-line {
    display: flex;
    margin: 1rem 0;
    gap: 0.5rem;
    width: 39rem;
    align-self: center;
}

    .or-line::before,
    .or-line::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid var(--grey-30);
    }

.packages-list{
  width: 28.3rem;
  background-color: var(--grey-10);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  .package-list-title{
    font-size: 16px;
    font-weight: var(--h1-font-weight-semibold);
    text-align: left;
    margin: 1rem;
  }
}

.package-card{
  display: flex;
  width: 26.25rem;
  height: 4.7rem;
  background-color: var(--grey-20);
  border-radius: 16px;
  margin-bottom: 1rem;
  align-self: center;
  justify-content: space-between;
}

.package-item-left{
  display: flex;
  flex-direction: column;
}

.package-title{
  font-size: 16px;
  font-weight: var(--h1-font-weight-semibold);
  color: var(--grey-100);
  margin: 1rem 0rem 0rem 1rem;
}

.package-details{
  display: flex;
  color: var(--grey-80);
  margin-left: 1rem;
  margin-top: 0.5rem;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 12px;

  div{
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}

.package-item-right{
  display: flex;
  align-self: center;
  margin-right: 1rem;
  color: var(--primary-100);
}

form {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.form-container{
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: var(--grey-10);
  border-radius: 16px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1.5rem;
  box-shadow: 0px 20px 30px -18px rgba(4, 15, 21, 0.10),
              0px 40px 30px -30px rgba(4, 15, 21, 0.06);
}

.form-label{
  margin-bottom: 0.2rem;
  color: var(--grey-90);
  font: var(--font);
}

.form-group{
  display: flex;
  flex-direction: column;
}

.form-input {
    padding: 0.5rem 1rem;
    outline: none;
    border-radius: 14px;
    border: 1px solid var(--grey-40);
    margin-bottom: 1rem;
    width: 100%;
    color: var(--cool-grey-90);
}

.btn-purple{
    border-radius: 14px;
    font-size: 1em;
    font-family: var(--font);
    padding: 0.7rem 1.55rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    align-self: center;
    border: none;
    width: max-content;
    cursor: pointer;
    color: var(--grey-10);
    background-color: var(--primary-90);
    box-shadow: 0px 4px 16px 0px rgba(255, 11, 214, 0.18);
    font-weight: var(--h1-font-weight-semibold);
}

